---
permalink: /science_team.json
layout: null
---
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "COMPACT Science Core Team",
  "subOrganization": {
    "@id": "#sdt",
    "@type": "Organization",
    "name": "COMPACT Science Definition Team (SDT)"
  },
  "member": [
    {%- for m in site.data.science_team -%}
    {
      "@type": "Person",
      "name": {{ m.name | jsonify }}
      {%- if m.role %},
        {% case m.role %}
        {%- when "SDT chair" %}"memberOf": { "@id": "#sdt", "roleName": "Chair" }
        {%- else %}"memberOf": { "@id": "#sdt" }
        {%- endcase %}
      {%- endif %},
      "affiliation": {
        "@type": "Organization",
        "name": {{ m.affiliation | jsonify }}{% if m.ror %},
        "sameAs": "https://ror.org/{{ m.ror }}"{% endif %}
      }{% if m.orcid %},
      "sameAs": "https://orcid.org/{{ m.orcid }}"{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ]
}
